In [1]:
d = {"size": "fat", "age": 16}

In [2]:
d

{'size': 'fat', 'age': 16}

In [3]:
d["size"]

'fat'

In [5]:
"name" in d

False

In [6]:
"age" in d

True

In [7]:
"age" not in d

False

In [8]:
8 in d

False

In [9]:
list(d.keys())

['size', 'age']

In [10]:
list(d.values())

['fat', 16]

In [11]:
list(d.items())

[('size', 'fat'), ('age', 16)]

In [12]:
# these return list like data types

In [14]:
for i in d.keys():
    print(i)

size
age

In [15]:
for v in d.values():
    print(v)

fat
16

In [17]:
for k, v in d.items():
    print(k,v)

size fat
age 16

In [18]:
for i in d.items():
    print(i)

('size', 'fat')
('age', 16)

In [19]:
d

{'size': 'fat', 'age': 16}

In [20]:
"cat" in d.values()

False

In [21]:
d.get("age")

16

In [22]:
d.get("color", "")

''

In [23]:
d.get("color", "not found")

'not found'

In [24]:
if "color" not in d:
    d["color"] = "black"

In [25]:
d

{'size': 'fat', 'age': 16, 'color': 'black'}

In [27]:
d.setdefault("species", "cat")

'cat'

In [28]:
d

{'size': 'fat', 'age': 16, 'color': 'black', 'species': 'cat'}

In [32]:
import pprint

message = "It was a bright cold day in April and the clocks were striking thirteen"
count = {}

for char in message.upper():
    count.setdefault(char, 0)
    count[char] = count[char] +1
    
pprint.pprint(count)

{' ': 13,
 'A': 5,
 'B': 1,
 'C': 3,
 'D': 3,
 'E': 5,
 'G': 2,
 'H': 3,
 'I': 7,
 'K': 2,
 'L': 3,
 'N': 4,
 'O': 2,
 'P': 1,
 'R': 5,
 'S': 3,
 'T': 6,
 'W': 2,
 'Y': 1}

In [33]:
import pprint

message = "It was a bright cold day in April and the clocks were striking thirteen"
count = {}

for char in message.upper():
    count.setdefault(char, 0)
    count[char] = count[char] +1
    
pprint.pformat(count)

"{' ': 13,\n 'A': 5,\n 'B': 1,\n 'C': 3,\n 'D': 3,\n 'E': 5,\n 'G': 2,\n 'H': 3,\n 'I': 7,\n 'K': 2,\n 'L': 3,\n 'N': 4,\n 'O': 2,\n 'P': 1,\n 'R': 5,\n 'S': 3,\n 'T': 6,\n 'W': 2,\n 'Y': 1}"